

	<table>
  <tr>
    <th class="text-center">Useful Links</th>
  </tr>
  <tr>
    <td class="text-center">Reddit:</td>
  </tr>
  <tr>
    <td class="text-center"><a href="https://reddit.com/r/bodybuilding">Bodybuilding</a></td>
  </tr>
  <tr>
    <td><a href="https://reddit.com/r/fitness">Fitness</a></td>
  </tr>
  <tr>
    <td><a href="https://reddit.com/r/nutrition">Nutrition</a></td>
  </tr>
  <tr>
    <td><a href="https://reddit.com/r/Steroids">Steroids</a></td>
  </tr>
  <tr>
    <td><a href="https://reddit.com/r/steroidsourcetalk">Steroidsourcetalk</a></td>
  </tr>
  <tr>
    <td><a href="https://reddit.com/r/supplements">Supplements</a></td>
  </tr>
   <tr>
    <td><a href="https://bodybuilding.com/">Bodybuilding.com</a></td>
  </tr>
   <tr>
    <td><a href="https://bodymaxing.com/">Bodymaxing - Bodybuilding forum</a></td>
  </tr>
   <tr>
    <td><a href="https://eroids.com/">Eroids - Steroid source reviews</a></td>
  </tr>
   <tr>
    <td><a href="https://t-nation.com/">T-Nation - Fitness blog</a></td>
  </tr>
</table>